amqp==5.3.1
annotated-types==0.7.0
asgiref==3.11.1
billiard==4.2.4
celery==5.6.3
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
Django==5.1.15
django-celery-beat==2.9.0
django-environ==0.14.0
django-ninja==1.6.2
django-timezone-field==7.2.2
gunicorn==26.0.0
kombu==5.6.2
packaging==26.2
prompt_toolkit==3.0.52
psycopg==3.3.4
psycopg-binary==3.3.4
pydantic==2.13.4
pydantic_core==2.46.4
python-crontab==3.3.0
python-dateutil==2.9.0.post0
redis==6.4.0
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
vine==5.1.0
wcwidth==0.8.2
whitenoise==6.12.0
